.btn-main {
  color: $text-color-dark;
  background: $yellow;
  font-size: 12px;
  margin-top: 15px;
  min-width: 95px;
  padding: 5px 0px;
  text-align: center;
  font-weight: 600;
  margin-right: 20px;
  transition: all $time $ease;

  &:hover {
    background: $yellow-dark;
  }
}

.btn-view-more {
  font-size: 12px;
  background: #e4eafd;
  padding: 10px;
  color: $text-color-dark;
}
