a {
  color: orange;
}

::selection {
  background: #f1ee36;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header {
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: 5;
  box-shadow: 0 0 30px #b4bbdd;
  padding: 20px;
  background: #100e17;
  margin-bottom: 2rem;
}

section {
  grid-area: main;
  grid-column-start: 2;
  grid-column-end: 4;
}

footer {
  grid-area: footer;
  grid-column-start: 0;
  grid-column-end: 5;
  text-align: center;
  background: grey;
  padding: 10px;
  margin-top: 45px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 300px 300px 1fr;
  grid-template-areas:
    "header header header header"
    ". main main ."
    "footer footer footer footer";
}

.article-list {
  list-style-type: none;
  margin: 0px;
}

.article-list a {
  font-size: 1rem;
  text-decoration: none;
  color: hsl(253.3, 24.3%, 7.3%);
}
