.container {
  display: grid;
  grid-template-columns: 1fr 480px 480px 1fr;
  grid-template-areas:
    "header header header header"
    ". main main ."
    "footer footer footer footer";
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-width: 800px;
  margin: auto;
  width: 100%;
}

header {
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: 5;
  box-shadow: 0 0 30px #b4bbdd80;
  padding: 20px;
  margin-bottom: 4rem;
  padding: 0 1.5rem;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: $text-color-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
      border-bottom: none;
    }
  }
}

.hello {
  margin: 30px 0 95px 0;

  small {
    font-size: 18px;
    line-heign: 22px;
  }
}

.brand {
  display: flex;
  justify-content: flex-start;
  align-content: initial;
  img {
    margin: 0px;
  }
}

main {
  grid-area: main;
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 0 6rem;

  figure {
    margin: 0 0 0 -6rem;
    width: 960px;
  }
}

footer {
  grid-area: footer;
  grid-column-start: 0;
  grid-column-end: 5;
  text-align: center;
  margin-top: 45px;
  border-top: 1px solid #eaeaea;
  padding: 20px 0 10px 0;
  font-size: 0.8rem;
}

// Mediums screens
@media (max-width: 960px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 50% 50% 1fr;
    grid-template-areas:
      "header header header header"
      ". main main ."
      "footer footer footer footer";
  }
  main {
    padding: 0 2rem;
    figure {
      margin: 0 0 0 -2rem;
      width: 100vw;
    }
  }
}

// Smartphones
@media (max-width: 400px) {
  .nav-container {
    grid-template-areas: "navigation navigation";
    grid-template-rows: 1fr;

    .brand {
      display: none;
    }

    nav {
      grid-area: navigation;
      justify-content: center;
    }
  }
}
