.container {
  max-width: 800px;
  margin: auto;

  @media (max-width: $breakpoint-mobile) {
    padding: $font-size-regular;
  }
}

.is-flex {
  display: flex;
}

.is-flex-centered {
  display: flex;
  justify-content: center;
}

::selection {
  background: $yellow;
}

header {
  nav {
    ul {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: left;
      margin-bottom: 40px;
    }

    a {
      font-size: $font-size-regular * 0.8;
      background: initial;
      padding-right: 15px;
      color: $text-color-dark;
      text-transform: uppercase;

      &:hover {
        background: initial;
        span {
          border-bottom: 2px solid $yellow-dark;
          padding: 5px 0;
        }
      }
    }

    .active {
      span {
        border-bottom: 2px solid $yellow;
        padding: 5px 0;
        font-weight: 800;
      }
    }
  }
}

main {
  .hello-container {
    padding: 0;
    position: relative;

    img {
      width: 300px;
      height: 280px;
      object-fit: cover;
      border: 3px solid $text-color-dark;
    }

    .vertical-text {
      writing-mode: vertical-rl;
      text-orientation: upright;
      position: absolute;
      height: 300px;
      font-size: $font-size-regular * 0.6;
      left: -70px;
      top: 130px;
    }

    .shadow {
      content: "";
      border: 3px solid $text-color-dark;
      position: absolute;
      width: 300px;
      height: 280px;
      top: 35px;
      transform: rotate(-5deg);
      left: -10px;
      z-index: -10;
    }

    .presentation {
      h1 {
        font-size: 50px;
        font-weight: 800;
        padding-bottom: 20px;
      }
      p {
        font-size: 20px;
        line-height: 25px;
      }
    }

    &:hover {
      .shadow {
        transition: all $time $ease;
        transform: rotate(-3deg);
      }
    }

    @media (max-width: $breakpoint-mobile) {
      img {
        max-height: 230px;
      }

      .vertical-text {
        writing-mode: initial;
        text-orientation: initial;
        position: initial;
        height: initial;
        font-size: $font-size-regular;
        left: 0;
        top: 0;
      }

      .shadow {
        max-width: 100%;
        height: 220px;
        top: 25px;
        transform: rotate(-3deg);
        left: 0px;
        z-index: -10;
        position: absolute;
      }
    }
  }

  .post-container {
    h1 {
      font-size: 50px;
      line-height: 50px;
      font-weight: 800;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    time {
      font-size: 15px;
    }

    .featured-image {
      border-radius: $border-radius;
      min-height: 350px;
    }

    .vertical-category {
      writing-mode: vertical-rl;
      text-orientation: upright;
      position: absolute;
      height: 300px;
      left: -70px;
      top: 20px;
      text-transform: uppercase;
      p {
        font-size: $font-size-regular * 0.5;
        span {
          background: $yellow;
          padding: 5px;
        }
      }
    }

    @media (max-width: $breakpoint-mobile) {
      .vertical-category {
        writing-mode: initial;
        text-orientation: initial;
        position: initial;
        height: initial;
        left: initial;
        top: initial;
        text-transform: uppercase;
        display: flex;
        p {
          margin-right: 10px;
          margin-top: 20px;
        }
      }
    }
  }

  section {
    padding-bottom: 50px;
    &.all-posts {
      h1 {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;
        padding: 15px 0;
        display: flex;
        margin-bottom: 10px;

        &::before {
          content: "";
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: $yellow;
          margin-right: 5px;
        }
      }
      ul {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -15px;

        li {
          width: calc(100vw / 3);
          padding: 15px;
          article {
            transition: all $time $ease;

            img {
              padding-bottom: 15px;
            }

            h2 {
              font-size: $font-size-regular * 0.8;
              color: $text-color-dark;
              text-align: center;
              line-height: 20px;
              font-weight: 800;
              min-height: 50px;
            }

            .category {
              text-align: center;
              span {
                color: $text-color-dark;
                font-size: $font-size-regular * 0.5;
                background: $yellow-light;
                padding: $font-size-regular * 0.4 $font-size-regular * 0.5;
                font-weight: 800;
                text-transform: uppercase;
                margin-right: $font-size-regular;
              }
            }

            .excerpt {
              color: $text-color-dark;
              font-size: $font-size-regular * 0.8;
              line-height: $font-size-regular;
            }

            &:hover {
              background: $yellow-light;
              border-radius: $border-radius;
              padding: 15px;
              margin: -15px;
            }
          }
        }
      }
    }
  }
}

footer {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
    background: initial;
  }
  p {
    font-size: $font-size-regular;
  }
}
