// Text colors
$text-color-dark: #120d43;
$text-color-link: #120d43;

// Colors
$yellow: #ffee62;
$yellow-dark: #ffcc00;
$yellow-light: #fff7cb;
$cyan: #eefaff;
$grey: rgb(208, 208, 238);

// Font sizes
$main-size: 20px;

$padding-regular: 20px;

// Breakpoints
$breakpoint-mobile: 450px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// Fonts
$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-regular: 1rem;
$font-size-small: 0.8rem;

// Animations
$time: 0.1s;
$ease: ease-in;

// Radius
$border-radius: 10px;
