// Main colors
$primary-color: #870ff6;
// $primary-color-dark: #870ff6;
// $primary-color-light: #870ff6;
// $primary-color-lighter: #870ff6;

$secondary-color: #ffee62;
// $secondary-color-dark: #FFEE62;
// $secondary-color-light: #FFEE62;
// $secondary-color-lighter: #FFEE62;

// Text colors
$text-color-dark: #241c38;
$text-color-grey: #806180;

$text-color-link: #203bb3;

// Font sizes
$main-size: 20px;

// Breakpoints
$mobile-screen: 570px;

// Fonts
$main-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

// Animations
$time: 0.2s;
$ease: ease-in;
